[submodule "libtommath-1.0.x-srpm"]
	path = libtommath-1.0.x-srpm
	url = https://github.com/nkadel/libtommath-1.0.x-srpm
[submodule "libtomcrypt-1.18.x-srpm"]
	path = libtomcrypt-1.18.x-srpm
	url = https://github.com/nkadel/libtomcrypt-1.18.x-srpm
[submodule "python-crypto-2.6.x-srpm"]
	path = python-crypto-2.6.x-srpm
	url = https://github.com/nkadel/python-crypto-2.6.x-srpm
[submodule "libtdb-1.4.x-srpm"]
	path = libtdb-1.4.x-srpm
	url = https://github.com/nkadel/libtdb-1.4.x-srpm
[submodule "libtevent-0.10.x-srpm"]
	path = libtevent-0.10.x-srpm
	url = https://github.com/nkadel/libtevent-0.10.x-srpm
[submodule "compat-gnutls34-3.x-srpm"]
	path = compat-gnutls34-3.x-srpm
	url = https://github.com/nkadel/compat-gnutls34-3.x-srpm
[submodule "compat-nettle32-3.x-srpm"]
	path = compat-nettle32-3.x-srpm
	url = https://github.com/nkadel/compat-nettle32-3.x-srpm
[submodule "libtalloc-2.3.x-srpm"]
	path = libtalloc-2.3.x-srpm
	url = https://github.com/nkadel/libtalloc-2.3.x-srpm
[submodule "samba-4.12.x-srpm"]
	path = samba-4.12.x-srpm
	url = https://github.com/nkadel/samba-4.12.x-srpm
[submodule "libldb-2.1.x-srpm"]
	path = libldb-2.1.x-srpm
	url = https://github.com/nkadel/libldb-2.1.x-srpm
